* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('img/quien-creo-a-los-dioses-mayas.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-color: #A0522D;
    font-family: 'serif';
    margin: 0; 
    padding: 20px 20px;
    text-align: left;
}

#encabezado .menu{
    width: 250px;
    float: left;
    margin-top: 40px;
    text-align: center;
    border: 0px solid;
    font-size: 18px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 1.5rem;
    position: relative;
}

.menu ul{
    position: absolute;
}

nav a{
     color: #F5F5DC;
    display: block;
    text-decoration: none;
    transition: .4s;
    padding: 10px 10px;
}

nav a:hover{
    background: #DAA520;
    color: #000;
}

nav li ul{
    float: left;
    font-size: 17px;
}

.menu{
    background-color: #dc7a1f; 
    list-style: none;
    padding: 0;
}

.menu >li{
    float: top;
}

nav li li{
    max-height: 0;
    overflow: hidden;
    transition: all .1s;
    width: center;
}

nav li:hover > ul > li{
   max-height: 700px;
   overflow: visible; 
}

.menu > li > ul{
top:100%;
}

.menu ul ul{
left: 100%; 
top: 0;
}

.parrafo {
    z-index: 1;
    width: 1000px;
    height: auto;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.parrafo img {
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

header {
    background-image: url('img/apocalypto.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: white;
    padding: 20px;
    font-size: 15px;
    text-align: center; 
}

nav {
    background-color: #0f711c13;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    color: #000000;
    box-shadow: 0 0 10px rgba(119, 27, 27, 0.3);
}

main {
    display: flex;
    justify-content: left;
    padding: 20px;
}

.content {
    width: 80%;
    background: rgba(217, 222, 180, 0.603);
    padding: 60px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding: 20px;
}

.sidebar {
    width: 250px;
    overflow: hidden;
    transition: width 0.3s;
}

.sidebar:hover {
    width: 300px;
}

footer {
    background-color: #d79f56;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    form {
        padding: 10px;
}
}

 